
<form id        =  "uploadForm"
     enctype   =  "multipart/form-data"
     action    =  "deal/addDeal"
     method    =  "post"
>
<input type="file" name="file"><br>
<label>Simulation Name</label><input type="text" name = "simulation_name" id ="simulation_name"><br>
<label>Stress Factor</label><br>
<input type="number" name = "stress_factor_start" id ="stress_factor_start">
<input type="number" name = "stress_factor_end" id ="stress_factor_end"> <br>
<label>Provider</label><input type="text" name = "provider" id ="provider"><br>
<label>Deal Output Name</label><input type="text" name = "deal_output_name" id ="deal_output_name"><br>
<label>Deal year</label><input type="text" name = "deal_year" id ="deal_year"><br>
<label>Deal Month</label><input type="text" name = "deal_month" id ="deal_month"><br><br>
<label>Reinsurance Layer</label><input type="text" name = "reinsurancelayer" id ="reinsurancelayer"><br><br>

  <button>Submit</button>
</form>





<!-- <form id        =  "uploadForm"
     enctype   =  "multipart/form-data"
     action    =  "/simulation/addsimulation"
     method    =  "post"
>
<input type="file" name="file"><br>
<label>Simulation Name</label><input type="text" name = "simulation_name" id ="simulation_name"><br>
<!-- <label>Port Name</label><input type="text" name = "port_name" id ="port_name"><br> -->
<!-- <label>Port Year</label><input type="number" name = "port_year" id ="port_year"> -->
  <!-- <button>Submit</button> -->
<!-- </form> --> 